<!-- DO NOT TOUCH THIS PAGE DIRECTLY STYLES WILL NOT TRANSFER --> 
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
    demo Lawn
  </title>
        <!-- custom css -->
    <%= erb :custom_css%>

	<link href="/application.css" media="screen" rel="stylesheet" type="text/css" />
	<!-- Site CSS -->
	<style type="text/css" media="screen">
	 <%= erb :site_css %>
	</style>


<script src="/application.js" type="text/javascript"></script>

<!-- custom js  -->
  <%= erb :custom_js %>
</head>
<body class="<%= @css_class %>">
  <div id="center">
    <div id="wrapper">
      <div id="user_nav">
        <a href="#" class="button" id="login">Sign In / Register</a>
      </div>
      <div id="top">
        <!-- header here -->
        <%= erb :header %>
      </div>
      <div id="content">
        <%= partial(:"default/slide_show") if @slides == "show" %>
        <%= partial(:"default/blog_role") if @blog_role == "show" %>
        <div id="content-wrap">
          <%= yield %>
        </div>
        <%= partial(:"default/recent") if @recent == "show" %>
      </div>
      <div id="footer">
        <!-- footer here -->
        <%= erb :footer %>
        <a href="/records?mobile=1" class="mobile">Mobile Site</a>
        <%= partial(:"default/contact_form")%>
      </div>
    </div>
  </div>
  <!-- Add in contact form here. -->
</body>
</html>